@import "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css";


* {
    margin: 0px;
    padding: 0px;
    font-family: NeuzeitGroTOT !important;
}
body {
    margin:10px;
    font-size: 16px;
}
table {
    width:100%;
}
th {
    text-align:left;
}
td, div, th {
    font-size:16px;
}
h1 {
    font-size:32px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}


/**
 * Nav
 */
#navigation {
    border-bottom: 1px solid #eee;
    height: 49px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
#navigation>div {
    float:left;
    margin-right:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
}

#navigation a {

}


#wrapper {
    max-width:900px;
    border: 1px solid #eee;
    padding: 30px;
    padding-top: 15px;
    margin: auto;
}

#logo {
    height: 50px;
    margin-right: 20px;
}

a {
    padding: 2px;
    display: inline-block;
    text-decoration: none;
    justify-content: center;
    color: #ea861e;
    align-items: center;
}


a:hover {
    background-color: rgba(234, 134, 30, 0.1);
    color: #ea861e;
}

/**
 * Table
 */
table #actions {
    /* display: flex; */
    /* float: right; */
    text-align: right;
}
