* {
	margin: 0px;
	padding: 0px;
	font-family:verdana;	
}
body {
	margin:10px;		
}
table {
	width:100%;
}
th {
	text-align:left;
}
td, div, th {
	font-size:11px;
}	
h1 {
	font-size:18px;
}
#navigation {
	border-bottom:1px solid gray;	
	height:30px;	
	padding:10px;
}
.button {
	float:left;
	margin-right:20px;
}
#wrapper {
	width:980px;
	border:1px solid gray;
	padding:20px;
}